<%/*Display my ID and Links to other pages*/%>
<head>
    <h1>G00414472</h1>
</head>
<body>
    <ul>
        <%/*Display as list for aesthetics*/%>
        <li><a href="/students">Students</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/lecturers">Lecturers</a></li>
    </ul>
</body>
</html>
