<h1>Lecturers</h1>
<!--Links-->
<a href="/">Home</a>

<!--Table design -->
<table border="1" cellspacing="2" cellpadding="5">
  <thead>
    <tr>
      <th>Lecturer ID</th>
      <th>Name</th>
      <th>Department ID</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% lecturers.forEach(function(lecturer) { %>
      <tr>
        <td><%= lecturer._id %></td>
        <td><%= lecturer.name %></td>
        <td><%= lecturer.did %></td>
      </tr>
    <% }); %>
  </tbody>
</table>